#messages.messages
  .panel.panel-default
    .panel-heading
      %h3.panel-title.text-center 通知列表
    %table.table
      %tbody
        - if @messages.blank?
          %tr
            %td 暂无通知
        - @messages.each do |message|
          %tr{:class => "#{'warning' unless message.read?}", :id => "#{message.id}"}
            %td#v-middle
              %strong 议题描述
            %td#v-middle
              = link_to message.vote.title, message.vote
            %td#v-middle.text-right
              = image_tag message.user.avatar_url, class: 'navbar-avatar'
              = message.user.nickname
              邀请你参与讨论
    .panel-footer
      = paginate @messages
