.page-notification{:data => {:nav => :notification}}
  .notifications
    - @notifications.each do |notification|
      = content_tag :div, class: notification.read? ? 'notification read' : 'notification' do
        = link_to notification.vote, class: 'topic' do
          %i.fa.fa-exclamation-circle
          .title= notification.vote.title
          .desc
            %span= t("notification.style_front.#{notification.style}")
            %span.count= notification.total
            %span= t("notification.style_back.#{notification.style}")

  .loading
    %i.fa.fa-circle-o-notch.fa-spin 
    %span 读取中…

- @notifications.each(&:read!)
