= simple_form_for [@vote, Question.new],remote: true do |f|
  .modal-body
    = f.input :title
    = f.simple_fields_for :answers do |answer|
      = render "votes/answer_fields", :f => answer
    .links
      = link_to_add_association '再加一题', f, :answers, class: 'btn btn-default', partial: 'votes/answer_fields'
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消
    = f.button :submit, '提交', class: 'btn btn-primary'
