.page-me{:data => {:nav => :me}}
  .set.info
    = link_to '/account/info', class: 'item me' do
      .avatar
        %img{:src => current_user.avatar_url}
      .name= current_user.nickname

  .set.my-topics
    = link_to '/account/created_votes', class: 'item created' do
      %span 我发起的议题
      .count= current_user.votes.count
    = link_to '/account/joined_votes', class: 'item joined' do
      %span 我参与的议题
      .count= current_user.voted_votes.count

  .set.notification-setting
    = link_to '/account/notification_setting', class: 'item setting' do
      %span 通知设置

  .set.misc
    = link_to '/account/feedback', class: 'item feedback' do
      %span 意见反馈
    = link_to '/account/about', class: 'item about' do
      %span 关于我们

  .set.signout
    = link_to '/users/sign_out', class: 'item quit', method: 'delete' do
      %i.fa.fa-power-off
      %span 退出当前账号