<%= simple_form_for @vote, wrapper: :horizontal_form do |f| %>
  <% if f.object.new_record? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">编辑新议题</h3>
      </div>
      <div class="panel-body">
        <%= f.input :title %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">讨论要点 <%= link_to_add_association '+ 增加一个要点', f, :questions, class: 'btn btn-default', 'data-association-insertion-node': '#div-vote-questions' %></h3>
      </div>
      <div class="panel-body">
        <div id="div-vote-questions" class="">
          <%= f.simple_fields_for :questions do |question| %>
            <%= render "question_fields", :f => question %>
          <% end -%>
        </div>
        <%= f.input :finish_at, as: :date_picker %>
      </div>
    </div>
  <% end -%>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">邀请微博好友参与讨论</h3>
    </div>
    <div class="panel-body">
      <div class="div-invite-uids">
        <%= f.collection_check_boxes(:invite_uids, current_user.friendships, :uid, :name){|b| b.label(:"data-value" => b.value) { selected=f.object.invite_uids.include?(b.object.uid.to_s); b.check_box(checked: selected, class: (selected ?'hidden' : '') ) + b.text }  } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, '新增投票', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).on('ready page:change', function() {
    $('.date_picker.vote_finish_at').datetimepicker({
      language: 'zh-CN',
      pickTime: false
    });
  });
</script>
