<%= simple_form_for vote do |f| %>
  <div class="questions">
    <%= f.simple_fields_for :questions do |question| %>
      <div class="question">
        <div class="answers">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">讨论要点：<%= question.object.title %></h3>
            </div>
            <div class="panel-body">
              <% if question.object.answered_by? current_user %>
                <div class="row">
                  <% question.object.answers.each do |answer| %>
                    <div class="col-xs-1 col-xs-offset-3">
                      <% if answer.answered_by? current_user %>
                        <span class="glyphicon glyphicon-ok"></span>
                      <% end %>
                    </div>
                    <div class="col-sm-8">
                      <%= answer.title %>
                    </div>
                  <% end -%>
                </div>
              <% else %>
                <div class="row" style="position: relative;">
                  <div class="col-xs-offset-4 col-xs-8">
                    <div class="row">
                      <%= question.simple_fields_for :answers do |answer| %>
                        <%= render "votes/show_form_answer_fields", f: answer %>
                      <% end -%>
                      <div>
                        <%= link_to_add_association '+ 补充一个选项', question, :answers, class: 'btn btn-default col-xs-offset-7 col-xs-5 btn-vote-question-add-answer', style: 'position: absolute;', partial: 'votes/show_form_answer_fields' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
        <%= question.input :id, as: :hidden %>
      </div>
    <% end -%>
  </div>

  <div class="form-actions">
    <button type="button" class="btn btn-default btn-block" onclick="return false;" data-toggle="modal" data-target="#myModal">+ 增加一个讨论要点</button>
  <% if !vote.finished? and vote.user == current_user %>
    <%= link_to '发起人修改议题', edit_vote_path(vote), class: 'btn btn-default btn-block' %>
  <% end %>
    <%= f.button :submit, '贡献我的想法', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

