.page-landing{:data => {:nav => :home, :title => '议题大厅'}}
  .topbar
    .filter
      = link_to votes_path, class: action_name == 'index' ? 'item newest active' : 'item newest' do
        %span 最新
      = link_to hot_votes_path, class: action_name == 'hot' ? 'item hotest active' : 'item hotest' do
        %span 最热
    = link_to lucky_votes_path, method: :post, class: 'lucky' do
      %i.fa.fa-smile-o

  .topics.list
    - @votes.each do |vote|
      = link_to vote, class: 'topic' do
        .data
          .title=vote.title
          .options
            - vote.vote_items.each do |vote_item|
              .option=vote_item.title
        .joiner-count
          = vote.voted_users.count

    .loading
      %i.fa.fa-circle-o-notch.fa-spin 
      %span 读取中…
