<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">查看讨论进行状态</h3>
  </div>
  <div class="panel-body text-center">
    <h1>议题：<%= @vote.title %></h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <% @questions.each do |question| %>
      <div class="question">
        <div class="question-title">
          <h4>讨论要点：<%= question.title %></h4>
        </div>
        <div class="answers">
          <% question.answers.each do |answer| %>
            <% percent = (answer.users.count.to_f / @vote.invite_uids.count * 100).to_i %>
            <div class="row div-answer" data-id="<%= answer.id %>">
              <div class="col-xs-5 answer-count-and-title">
                <div class="label label-primary"><%= answer.users.count > 0 ? answer.users.count : '' %></div>
                <span class="label label-default"><%= answer.title %></span>
              </div>
              <div class="col-xs-7 answer-users text-right">
                <% answer.users.each do |user| %>
                  <%= image_tag user.avatar_url, class: 'navbar-avatar', alt: user.nickname, title: user.nickname %>
                <% end -%>
              </div>
              <div class="clearfix"></div>
            </div>
          <% end -%>
        </div>
      </div>
      <hr />
    <% end -%>
  </div>
</div>

<% if !@vote.finished? and @vote.user == current_user %>
  <%= link_to '发起人修改议题', edit_vote_path(@vote), class: 'btn btn-default btn-block' %>
<% end %>

<% @questions.map(&:answers).flatten.each do |answer| %>
  <div class="modal fade" id="modal-<%= answer.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div>
            <strong>选项：</strong><%= answer.title %>
        </div>
        <div>
          <strong>投票人：</strong>
          <% answer.users.each do |user| %>
            <%= user.nickname %> <br />
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end -%>
