.page-search{:data => {:nav => :search}}
  .topbar
    %i.fa.fa-search
    .ipt
      %input.form-control{:name => :q, :placeholder => '输入搜索词'}
    %a.cancel{:href => 'javascript:;'} 取消

  .search-content
    .history
      .word
        %a.s{:href => 'javascript:;'}
          %i.fa.fa-clock-o
          .t 豆腐脑
        %a.delete{:href => 'javascript:;'}
          %i.fa.fa-times
      .word
        %a.s{:href => 'javascript:;'}
          %i.fa.fa-clock-o
          .t 扇贝单词
        %a.delete{:href => 'javascript:;'}
          %i.fa.fa-times
      .word
        %a.s{:href => 'javascript:;'}
          %i.fa.fa-clock-o
          .t 挖掘机技术
        %a.delete{:href => 'javascript:;'}
          %i.fa.fa-times
      %a.clear{:href => 'javascript:;'}
        %i.fa.fa-trash
        %span 清除所有搜索历史

    .result{:style => 'display:none;'}
      - @votes.each do |vote|
        = link_to vote, class: 'topic' do
          .data
            .title
              = vote.title.gsub(Regexp.new(params[:q]), '<span class="key">\0</span>').html_safe
            .stat
              %span
                = "#{vote.vote_items.count} 个选项"
              %span
                = "#{vote.voted_users.count} 人参与"
          .joiner-count= vote.voted_users.count
