.page-topic{:data => {:id => @vote.id}}
  .header
    = link_to votes_path, class: 'back' do
      %i.fa.fa-chevron-left
    .title 为议题投票
    %a.share{:href => 'javascript:;'}
      %i.fa.fa-share

  .so
    .topic-header
      %h2.title= @vote.title
      = render_cell :topics, :infocard, @vote

    = render_cell :topics, :topic_options, @vote_items, current_user

    .topic-new-option
      - if @vote.added_vote_item_by?(current_user)
        %a.new.btn.btn-flat-success.btn-block.disabled{:href => 'javascript:;'}
          %i{style: 'display: none'}.fa.fa-plus
          %span 已经补充过选项了
      - else
        %a.new.btn.btn-flat-success.btn-block{:href => 'javascript:;'}
          %i.fa.fa-plus
          %span 补充一个选项

    .vote-done
      %a.done.btn.btn-flat-success.btn-block.disabled{:href => 'javascript:;'}
        %i.fa.fa-check
        %span 投完了

  .new-option-overlay
    = form_for [@vote, VoteItem.new], remote: true, html: {class: 'form'} do |f|
      .fields
        %label 补充新选项
        = f.text_area :title, class: 'form-control', placeholder: '输入选项内容', rows: 3
      .submits
        %a.cancel{:href => 'javascript:;'}
          %i.fa.fa-times
          %span 取消
        %a.ok.disabled{:href => 'javascript:;'}
          %i.fa.fa-check
          %span 确定

  .share-overlay
    .form
      .fields
        %label 分享到 …
        .s 现在是内测阶段，微博应用并没有审核通过，只能添加我们团队的测试用户
        .s 因此即使分享了也没意义，别人登录不进来的
        .s 所以内测期间此功能不开放
      .submits
        %a.cancel{:href => 'javascript:;'}
          %i.fa.fa-times
          %span 取消
