%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Touch Idea', root_url, class: 'navbar-brand', title: 'Touch Idea - 内测版仅供体验，用户数据可能会不定期清空'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li
            - if current_user and !current_user.avatar_url.blank?
              = image_tag current_user.avatar_url, class: 'img-circle navbar-avatar', alt: current_user.nickname
            - else
              %span.glyphicon.glyphicon-user.navbar-avatar
          %li
            %p.navbar-text
              = current_user.nickname
          %li
            = link_to messages_path, title: '提醒' do
              %span.glyphicon.glyphicon-bell
              - if current_user.notifies.unread.any?
                %span.badge= current_user.notifies.unread.count
        %li
          - if current_user
            = link_to '登出', destroy_user_session_path, method: :delete
          - else
            = link_to '登录', new_user_session_path
