!!!
%html{:lang => :zh}
  %head
    %title pinidea
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body
    .layout-content
      = yield

    .layout-footer
      .footer-nav
        = link_to votes_path, class: 'item home' do
          %i.fa.fa-list
          %span.text 列表
        %a.item.explore{:href => 'javascript:;'}
          %i.fa.fa-search
          %span.text 搜索
        %a.item.new{:href => 'javascript:;'}
          %i.fa.fa-plus
        %a.item.notification{:href => 'notification-0-list.html'}
          %i.fa.fa-bell
          %span.text 通知
        %a.item.me{:href => 'me-0-config.html'}
          %i.fa.fa-user
          %span.text 用户

    .float-new-type-select
      .tips 请选择要创建的议题类型
      .items
        .item
          = link_to new_vote_path, class: 'common' do
            %i.fa.fa-pencil
          %span.t 普通议题
        .item
          = link_to new_vote_path(good: true), class: 'good' do
            %i.fa.fa-rocket
          %span.t 分享点评

