!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %title= content_for?(:title) ? yield(:title) : "pinIdea - alpha"
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body.app
    %header
      = render_cell :layout, :navbar, :user => current_user
    %main
      .container
        .row
          .col-pad-8
            .page-messages= render_cell :layout, :flash_messages, flash
          .col-pad-8
            .pege-content= yield

    - if current_user
      :javascript
        var user_id = '#{current_user.id}';