!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Touch Idea - 内测版仅供体验，用户数据可能会不定期清空"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Touch Idea - 内测版仅供体验，用户数据可能会不定期清空"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = yield(:head)
    = csrf_meta_tags
  %body{"data-spy" => "scroll", "data-target" => ".bs-docs-sidebar"}
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      #container.container
        #messages
          = render 'layouts/messages'
        = yield
      - if current_user
        :javascript
          var user_id = '#{current_user.id}';
